<form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-3">

  <div class="row g-3">

    @for (field of config.fields; track field.name) {
      @if (!field.hidden) {

        <div
          class="col-12"
          [class.col-md-6]="config.layout === 'grid' && config.gridColumns === 2"
        >

          <label class="form-label">
            {{ field.label }}
            @if (field.required) {
              <span class="text-danger">*</span>
            }
          </label>

          <!-- FIELD TYPES -->
          @switch (field.type) {

            @case ('text') {
              <input
                type="text"
                class="form-control"
                [formControlName]="field.name"
                [placeholder]="field.placeholder"
              />
            }

            @case ('email') {
              <input
                type="email"
                class="form-control"
                [formControlName]="field.name"
                [placeholder]="field.placeholder"
              />
            }

            @case ('password') {
              <input
                type="password"
                class="form-control"
                [formControlName]="field.name"
                [placeholder]="field.placeholder"
              />
            }

            @case ('textarea') {
              <textarea
                class="form-control"
                rows="3"
                [formControlName]="field.name"
                [placeholder]="field.placeholder">
              </textarea>
            }

            @case ('select') {
              <select
                class="form-select"
                [formControlName]="field.name">
                
                 <option [ngValue]="null">
      Select {{ field.label }}
    </option>
                @for (opt of dropdownOptions[field.name] ?? []; track opt.value) {
      <option [ngValue]="opt.value">
        {{ opt.label }}
      </option>
    }
              </select>
            }
          }

          <!-- VALIDATION ERROR -->
          @if (
            form.get(field.name)?.touched &&
            form.get(field.name)?.invalid
          ) {
            <div class="text-danger small mt-1">
              {{ field.label }} is invalid
            </div>
          }

        </div>
      }
    }

  </div>

  <!-- ACTION BUTTONS -->
  <div class="d-flex justify-content-end gap-2 mt-4 mb3">

    @for (action of config.actions; track action.label) {
      <button
        class="btn"
        [ngClass]="{
          'btn-primary': action.color === 'primary',
          'btn-secondary': !action.color
        }"
        [type]="action.type"
        [disabled]="action.disabled"
        (click)="action.action === 'cancel' && onCancel()"
        (click)="action.action === 'submit' && onSubmit()">
        {{ action.label }}
      </button>
    }

  </div>

  @if (message) {
  <div class="alert alert-danger mb3 " role="alert">
    {{ message }}
  </div>
}

</form>
