<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="saas-form-card">

  <div class="form-grid">

    @for (field of config.fields; track field.name) {
      @if (!field.hidden) {

        <div
          class="form-field"
          [class.grid-2]="config.layout === 'grid' && config.gridColumns === 2"
        >

          <label>
            {{ field.label }}
            @if (field.required) {
              <span class="required">*</span>
            }
          </label>

          @switch (field.type) {

            @case ('text') {
              <input
                type="text"
                [formControlName]="field.name"
                [placeholder]="field.placeholder"
              />
            }

            @case ('email') {
              <input
                type="email"
                [formControlName]="field.name"
                [placeholder]="field.placeholder"
              />
            }

            @case ('password') {
              <input
                type="password"
                [formControlName]="field.name"
                [placeholder]="field.placeholder"
              />
            }

            @case ('textarea') {
              <textarea
                rows="3"
                [formControlName]="field.name"
                [placeholder]="field.placeholder">
              </textarea>
            }

            @case ('select') {
              <select [formControlName]="field.name">
                <option [ngValue]="null">
                  Select {{ field.label }}
                </option>

                @for (opt of dropdownOptions[field.name] ?? []; track opt.value) {
                  <option [ngValue]="opt.value">
                    {{ opt.label }}
                  </option>
                }
              </select>
            }
          }

          @if (
            form.get(field.name)?.touched &&
            form.get(field.name)?.invalid
          ) {
            <div class="error-text">
              {{ field.label }} is invalid
            </div>
          }

        </div>
      }
    }

  </div>

  <!-- ACTION BUTTONS -->
  <div class="form-actions">

    @for (action of config.actions; track action.label) {

      <button
        [type]="action.type"
        [class.primary]="action.action === 'submit'"
        [class.secondary]="action.action !== 'submit'"
        [disabled]="action.action === 'submit' && form.invalid"
        (click)="action.action === 'cancel' && onCancel()">
        {{ action.label }}
      </button>

    }

  </div>

  @if (message) {
    <div class="form-alert">
      {{ message }}
    </div>
  }

</form>