<ng-container *ngIf="dailyLogs$ | async as page">

  <app-data-table
  [rows]="page.content"
  [config]="tableConfig"
  (action)="onTableAction($event)"
  (create)="openCreate()"

  [totalElements]="page.totalElements"
  [pageIndex]="page.page"
  [pageSize]="page.size"
  [loading]="loading"
  (pageChange)="onPageChange($event)">
</app-data-table>

</ng-container>


@if (overlayState.open) {
  <app-overlay
    [title]="overlayState.title"
    [closeOnBackdropClick]="overlayState.closeOnBackdrop"
    (close)="closeOverlay()"
  >
    @if (formConfig) {
      <app-data-form
        [config]="formConfig"
        [data]="selectedRow"
        [message]="formErrorMessage"
        (submitForm)="onFormSubmit($event)"
        (cancel)="closeOverlay()">
      </app-data-form>
    }
  </app-overlay>
}

@if (dialogState.open) {
  <app-confirm-dialog
    [title]="dialogState.title"
    [message]="dialogState.message"
    [dialogType]="dialogState.type"
    [data]="selectedRow"
    (ok)="closeDialog()"
    (cancel)="closeDialog()"
    (confirm)="onDialogConfirm($event)">
  </app-confirm-dialog>
}
