
<app-data-table
  [rows]="(users$ | async) ?? []"
  [config]="tableConfig"
  (action)="onTableAction($event)"
  (create)="openCreate()">
</app-data-table>


  @if (overlayOpen) {
    <app-overlay
  [open]="overlayOpen"
  [title]="overlayTitle"
  [closeOnBackdropClick]="closeOnBackdrop"
  (close)="closeOverlay()"
>
      @if (formConfig) {
        <app-data-form
          [config]="formConfig"
          [data]="selectedRow"
          [message] = " errorMessage"
          (submitForm)="onFormSubmit($event)"
          (cancel)="closeOverlay()">
        </app-data-form>
      }
</app-overlay>

  }

  @if(dialogOpen){

    <app-confirm-dialog
  [title] = "dialogTitle" 
  [message] = " dialogMessage"
  [dialogType] = " dialogType"
  [data]="selectedRow"
  (ok) = "closeDialog()"
  (cancel)="closeDialog()"
  (confirm)="onDialogConfirm($event)">

</app-confirm-dialog>


  }

 