<div class="modal-backdrop">
  <div class="modal-box">

    <h4>
      {{ pillar ? 'Edit Pillar' : 'Create Pillar' }}
    </h4>

    <div class="mb-3">
      <label class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="pillarName" />
    </div>

    <div class="d-flex justify-content-end gap-2">
      <button class="btn btn-secondary" (click)="cancel.emit()">
        Cancel
      </button>

      <button class="btn btn-primary" (click)="onSave()">
        Save
      </button>
    </div>

  </div>
</div>
