<div class="table-responsive">

  @if (config.create?.enabled) {

    <div class="table-header" >

      <div class="table-header d-flex justify-content-between align-items-center mb-3">
          
        <h5 class="mb-0">Users</h5>
        <button class="btn btn-primary" (click)="onCreateClick()">
          {{ config.create?.label || 'Create' }}
        </button>
    </div>
  </div>

  }
  

  <table class="table table-striped table-hover align-middle">
    <thead  class="table-dark">
      <tr>
        <th *ngFor="let column of config.columns">
          {{ column.header }}
        </th>

        <th *ngIf="config.actions?.length">
          Actions
        </th>
      </tr>
    </thead>

    <tbody class="table-light" >
      <tr *ngFor="let row of rows">

        <td *ngFor="let column of config.columns">
          {{ row[column.key] }}
        </td>

        <td *ngIf="config.actions?.length">
          <button class="btn btn-sm btn-outline-secondary me-1"
            *ngFor="let action of config.actions"
            (click)="onActionClick(action.type, row)">
            {{ action.label }}
          </button>
        </td>

      </tr>
    </tbody>
  </table>

</div>
