spring:
  application:
    name: kage
  profiles:
    active: local
  mail:
    host:
    port:
    username:
    password:
    properties:
      mail:
        smtp:
          auth:
          starttls:
            enable:


server:
  port: 8080

springdoc:
  swagger-ui:
    path: /swagger-ui.html

