<div class="public-layout">

  <!-- NAVBAR -->
  <header class="public-navbar">
    <div class="nav-container">

      <div class="brand" routerLink="/">
        <span class="brand-logo">⚡</span>
        <span class="brand-name">LifeTrack</span>
      </div>

      

      <div class="nav-actions">
        <a routerLink="auth/login" class="btn btn-ghost">
          Sign In
        </a>

        <a routerLink="auth/register" class="btn btn-primary">
          Start Your Journey
        </a>
      </div>

    </div>
  </header>

  <!-- MAIN CONTENT -->
  <main class="public-content">
    <router-outlet></router-outlet>
  </main>

</div>