<!-- TOP NAVBAR (FIXED) -->
<nav class="navbar navbar-dark bg-dark px-3">
  <a class="navbar-brand" routerLink="/">MyApp</a>

  <div>
    <a routerLink="auth/login" class="btn btn-outline-light btn-sm me-2">
      Sign In
    </a>
    <a routerLink="auth/register" class="btn btn-primary btn-sm">
      Register
    </a>
  </div>
</nav>

<!-- MAIN LAYOUT -->
<div class="container-fluid">
  <div class="row vh-100">

    

    <!-- CENTER CONTENT -->
    <main class="col-md-9 col-lg-10 p-4 overflow-auto">
      <router-outlet></router-outlet>
    </main>

  </div>
</div>
